<h3>home</h3>
<p>Welcome to SG Controls and Integration an independent control system solutions provider specialising in integrated building automation controls for HVAC, lighting and energy management. Operating within the intelligent buildings and smart residential homes sectors we provide a comprehensive portfolio of services and products based upon many years of combined knowledge and experience within the building automation and control systems industry.</p>
<p>Our independence from any one manufacturer enables us to offer clients complete system solutions by utilising open system technologies based on the worldwide standards of LonWorks™, KNX® and DALI thus achieving our aim of providing energy efficient and sustainable building environments with the benefits of a fully integrated and future proof control system.</p>
<p>In addition to our integrated system solutions we also provide a wide range of conventional and proprietary field controls equipment from many other leading brand manufacturers.</p>
<!--p><%= image_tag("/images/logos/home/lonmark.jpg", :class => "logo") %><%= image_tag("/images/logos/home/knx.jpg", :class => "logo") %><%= image_tag("/images/logos/home/bacnet.jpg", :class => "logo") %><%= image_tag("/images/logos/home/dali.jpg", :class => "logo") %><%= image_tag("/images/logos/home/enocean.jpg", :class => "logo") %></p-->