<h3>services - installation</h3>
<p>The company’s in house installation team specialises solely in the install of building automation control systems.</p>
<p>However as part of our installation works we can undertake all required electrical elements, including power distribution, data networks, control panels, lighting circuits, Audio Visual installations as well as other electrical services and modifications.</p>
<p>All electrical works undertaken are installed and tested to BS: 7671/2008 regulations by approved electricians, ‘as installed’ drawings available in CAD and other formats are issued as part of our installation service.</p>