<h3>services - integration</h3>
<p>SG Controls and Integration have much experience in integrating open systems and products that use the LonWorks™ platform in addition to extensive knowledge of other systems and products that utilise open architectures such as DALI, KNX®, BACnet® and Ethernet/IP.</p>
<p>Coupled with our systems integration expertise is our knowledge of network infrastructure design for building control and automation systems using the latest Web enabled interfaces and router technologies including Ethernet and Fibre Optic backbone networks for medium to large installations.</p>