<h3>links</h3>
<p>Here you find links to websites of interest for people in the building controls and building services industry.</p>

<strong>Technical</strong>
<p>
<%= link_to "www.BACnetassociation.org (BACnet® International)", "http://www.BACnetassociation.org", :popup => true %><br />
<%= link_to "www.dali-ag.org (Digital Addressable Lighting Interface)", "http://www.dali-ag.org", :popup => true %><br />
<%= link_to "www.enocean.com (Enocean® Self-powered Green, Smart, Wireless solutions)", "http://www.enocean.com", :popup => true %><br />
<%= link_to "www.knx.org (KNX® Association)", "http://www.knx.org", :popup => true %><br />
<%= link_to "www.lonmark.org (LONMARK® International)", "http://www.lonmark.org", :popup => true %><br />
<%= link_to "www.m-bus.com (M-Bus information)", "http://www.m-bus.com", :popup => true %>
</p>
<strong>Publications</strong>
<p>
<%= link_to "www.cibse.org (Chartered Institute of Building Services Engineers)", "http://www.cibse.org", :popup => true %><br />
<%= link_to "www.lmimagazine.com (LonMark® International Magazine)", "http://www.lmimagazine.com", :popup => true %>
</p>
<div style="border:1px solid #ccc; width:170px; margin: 0 auto 0;">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td style="padding:2px 2px 2px 3px;">
				<img src="http://www.approvedbusiness.co.uk/images/approvedbusiness.gif" alt="We're an Approved Business" title="We're an Approved Business"/>
			</td>
            <td style="font-family:Arial, sans-serif; font-size:11px; padding:3px 5px 3px 4px">
            	<a href="http://www.approvedbusiness.co.uk/sg-controls-and-integration-ltd/company.aspx" style="text-decoration:none; color:#000; font-family:Arial, sans-serif; font-size:11px;" title="we've been approved by www.approvedbusiness.co.uk" target="_blank">we've been approved by <span style="color:#3B8DB3">approved</span>business.co.uk</a>
            </td>
        </tr>
    </table>
</div>