<h3>services - maintenance</h3>
<p>The company provides comprehensive servicing and maintenance plans for various types of HVAC controls, BMS and lighting control and management systems.</p>
<p>Our dedicated service team offer scheduled maintenance plans with monthly, bi-monthly, quarterly or bi-annual visits for your building control systems with a competitive cost to fit your maintenance budget.</p>
<p>In addition to our comprehensive maintenance support packages we can also provide emergency call out cover for those occasions when the unexpected occurs, therefore by minimising the downtime of your buildings mechanical plant and electrical systems we ensure occupant comfort and safety.</p>