<h3>services - projects</h3>
<p>We have extensive experience of both new build and refurbishment (retro-fit) projects, with expertise at all levels of a project whether that is at the design, installation or commissioning stage. Our dedicated project co-ordination allows for a smooth transition from concept to final handover.</p>
<p>By working closely with architects, end users, services consultants and main contractors we make sure that any proposed design meets the customers’ needs from an early stage of the project. Where customers are unsure of their requirements our consultancy services can be brought in to advise and guide them through the process of selecting the correct type of system and products.</p>
<p>Our understanding of the sometimes complex commissioning procedures for intelligent building controls allows us to fine tune the control system to suit the clients needs both before and during the early stages of building occupancy and sometimes even beyond as part of a maintenance support agreement.</p>