<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Greenvale.ActiveDirectory.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <applicationSettings>
        <Greenvale.ActiveDirectory.Console.Properties.Settings>
            <setting name="LDAPConnectionString" serializeAs="String">
                <value>LDAP://MXCHANGE</value>
            </setting>
            <setting name="LDAPUsername" serializeAs="String">
                <value>CAMBSDOM\super</value>
            </setting>
            <setting name="LDAPPassword" serializeAs="String">
                <value>gl002</value>
            </setting>
            <setting name="LDAPFilter" serializeAs="String">
                <value>(&amp;(objectclass=user)(objectcategory=person))</value>
            </setting>
            <setting name="DirectoryId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RegExFilter" serializeAs="String">
              <value>^([^(.*\..*)]*|Scheduled.Tasks|Ent.Manager|presentation.*|EDI.PC|esb.stamp|.*\.sc|Administrator|Guest)$</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Data Source=(local);initial catalog=ix33_greenvale;uid=sa;pwd=Fitzroyrobin;language=british</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>CAMBSDOM</value>
            </setting>
        </Greenvale.ActiveDirectory.Console.Properties.Settings>
    </applicationSettings>
    <log4net>
      <root>
        <level value="ALL" />
        <appender-ref ref="RollingLogFileAppender" />
      </root> 
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="Logs/" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd&quot;.log&quot;" />
        <staticLogFileName value="false"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
      </appender>
      <logger name="Default">
        <level value="ALL"/>
      </logger>
    </log4net>

</configuration>