<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Greenvale.ActiveDirectory.Exporter.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="Default">
      <level value="ALL"/>
    </logger>
  </log4net>
  <applicationSettings>
    <Greenvale.ActiveDirectory.Exporter.Console.Properties.Settings>
      <setting name="LDAPConnectionString" serializeAs="String">
        <value>LDAP://localhost/CN=CAMBSDOM,DC=CAMBSDOM,DC=local</value>
      </setting>
      <setting name="LDAPUsername" serializeAs="String">
        <value>lewis.harvey</value>
      </setting>
      <setting name="LDAPPassword" serializeAs="String">
        <value>Fitzroyrobin</value>
      </setting>
      <setting name="LDAPFilter" serializeAs="String">
        <value>(&amp;(objectclass=user)(objectcategory=person))</value>
      </setting>
      <setting name="RegExFilter" serializeAs="String">
        <value />
      </setting>
    </Greenvale.ActiveDirectory.Exporter.Console.Properties.Settings>
  </applicationSettings>
</configuration>